@import 'fonts.css';

body {
    background-position: left;
    background-image: url('../images/space.png');
    animation-name: bg-animation;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    animation: moveUp 1000ms normal;
}

.logo {
    width: 200px;
}

.text {
    font-size: 3rem;
    font-family: 'Orbitron', sans-serif;
    padding-left: 20px;
    color: #c2f9b7;
}

.links {
    position: absolute;
    bottom: 2%;
    left: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.links-text {
    font-size: 20px;
    font-family: 'Orbitron', sans-serif;
    padding: 0;
    margin: 0;
}

.link-icon {
    width: 25px;
    padding-left: .5rem;
}

.link-icon:hover {
    filter: brightness(0.7);
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    50% {
        background-position: right;
    }
    100% {
        background-position: left;
    }
}

@keyframes moveUp {
    from {
        top: 74%;
        opacity: 0;
    }
    to {
        top: 45%;
        opacity: 1;
    }
}
