@font-face {
    font-family: 'Orbitron';
    src: url("../fonts/Orbitron-Black.ttf") format("truetype");
}

@font-face {
    font-family: 'Audiowide';
    src: url("../fonts/Audiowide-Regular.ttf") format("truetype");
}
