.chart-wrapper {
  height: 95vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #f4ba6e;
  font-size: 0.8rem;

  .items__select {
    position: fixed;
    bottom: 5vh;
    font-family: 'Ubuntu';
    color: #f4ba6e;
    background-color: #0f0f0d;
    border: 1px #f4ba6e solid;
    border-radius: 3px;
    padding: 10px;
    margin: 10px;
  }

  .chart {
    display: flex;
    width: 100%;
    margin-top: 20px;
    height: 70vh;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

