@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url('../public/assets/background.png') repeat-x fixed;
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Ubuntu';
  animation: bg-move infinite 60s linear;
}

a {
  color: #f4ba6e;
  margin: 0;
}

@keyframes bg-move {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 1000px 0;
  }

  100% {
    background-position: 0 0;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
