@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Ubuntu&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  background: url('../public/assets/background.png');
  background-size: cover;
  overflow-x: hidden;
  font-family: 'Ubuntu';
}

a {
  color: #f4ba6e;
  margin: 0;
}



@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
